<div>
	<a href="/profile/update-profile">Update Profile</a>
	<br />
	<a href="/profile/update-password">Update Password </a>
	<br />
	<a href="/profile/delete-account">Delete Account</a>
</div>

<div>
	<a href="/posts/create">Create a post</a>
</div>

<hr />

{{#each allPosts}}
	<a href="/posts/{{this._id}}">{{this.text}}</a>
	<br />

{{/each}}