<form action="/profile/update-profile" method="POST">
	<label>Location
		<input type="text" name="location" value="{{location}}" />
	</label>
	<br />
	<label>Name
		<input type="text" name="name" value="{{name}}" />
	</label>
	<br />
	<label>Email
		<input type="text" name="email" value="{{email}}" />
	</label>
	<br />
	<button type="submit">Update das profile!</button>
</form>