<form action="/posts/create" method="POST">
  <h2>Create Post</h2>
  <label>Title
    <input type="text" name="title" placeholder="Totally optional" />
  </label>
  <br />
  <label>Text of your post
    <input type="text" name="text" placeholder="Totally NOT optional" />
  </label>
  <br />
  <label>Tags
    <input
      type="text"
      name="tags"
      placeholder="Tags Associated with your post"
    />
  </label>
  <br />
  <button type="submit">Create Post</button>
</form>